<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{{tab_title}}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sqlite_example/style.css') }}">
    </head>
    <body>
        <h1>LCHS Movie SQLs Project</h1>
        {% if not home %}
            <section class="centered">
                <a href="{{ url_for('sqlite_example_index') }}">Return to Main Menu</a><br>
            </section>
        {% endif %}

        {% block content %}
        {% endblock %}

        {% if not home %}
            {% if results is not string %}
                <section class="centered">
                    <table>
                        <tr>
                            {% for column in session['selected_columns'] %}
                                <th class="centered">{{column.strip()}}</th>
                            {% endfor %}
                        </tr>
                        {% for row in results %}
                            <tr>
                                {% for entry in row %}
                                    <td>{{entry}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </section>
            {% elif results.lower() == 'error' %}
                <h3 class="{{results}}">Sorry, there was a syntax error in your query.</h3>
            {% elif results.lower() == 'success' %}
                <h3 class="{{results}}">Query successfully executed!</h3>
            {% endif %}
        {% endif %}
    </body>
</html>